.posts {
    flex: 9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 20px;
    padding: 25px;
}
@media screen and (max-width: 1400px) {
    .posts {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .posts {
        grid-template-columns: 1fr;
    }
}