.write {
  padding: 100px 0;
  background-color: #23173c
}
.catLabel {
  margin-bottom: 20px;
}
span.category {
  font-size: 19px;
  color: #bfb9b9;
  padding-bottom: 20px
}
select#category {
  border-radius: 7px;
  border: 1px solid #dedede;
  padding: 10px;
  color: #8a8a8a;
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}
select#category:focus {
  outline: none
}
.writeImg {
  margin-left: 150px;
  width: 50vh;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  border: none;
  font-size: 30px;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  background: #008080;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 20px;
}
.writeText::placeholder {
  font-weight: 400;
}
.writeInput::placeholder {
  color: #dddddd;
  font-weight: 400;
  font-size: 24px
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  background: #fff;
  width: 90%;
  height: 50vh;
  font-family: inherit;
  font-size: 20px;
  color: black;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 8px 30px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.writeSubmit2 {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 8px 30px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .writeSubmit2 {
    top: -330px;
    left: 45px;
  }
  .writeSubmit {
    top: -50px;
    left: 45px;
  }
  .writeFormGroup {
    margin-left: 50px;
  }
  .writeImg {
    margin-left: 45px;
    width: 45vh;
  }
}

@media screen and (max-width: 460px) {
  select#category {
    border: none;
    padding: 5px 0px;
    width: 21px;
  }
  .writeInput {
    font-size: 20px;
  }
  .writeFormGroup {
    margin-left: 30px;
  }
  .writeSubmit {
    left: 30px;
  }
  .writeInput::placeholder {
    font-size: 20px
  }
}