@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Lora:wght@400;500;600;700&family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
    margin: 0
}
body {
    font-family: 'Varela Round'
}
ul {
    margin: 0;
    padding: 0
}
ul li {
    list-style: none
}
p {
    line-height: 24x;
    font-size: 18px;
}
.notFound {
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration-line: underline;
}
.footer {
    border-top: 1px solid #282828;
    background-color:#23173c;
    text-align: center;
    color: #ebebeb;
    padding: 50px 0
}
.footer p {
    font-family: 'Varela Round';
    font-size: 18px;
    margin-bottom: 0
}
.notFound {
    display: flex;
    align-items: center;
    height: 80vh;
}
.notFound img {
    width: 300px;
}
.contact {
    background: #23173c;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}
.contact h1{
    font-size: 28px;
    margin-bottom: 20px;
    color: #ebebeb;
}
.socialIcon {
    display: flex;
}
.topIcon {
    font-size: 40px;
    margin: 0 25px;
    color: #fff;
    cursor: pointer;
    transition: .3s
}
.topIcon:hover {
    color: #0ecef5;
    transition: .3s
}
.errorMsg::placeholder {
    color: #ec1d1d!important;
}

@media screen and (max-width: 460px) {
    .contact h1 {
        font-size: 24px;        
    }
    .topIcon {
        font-size: 40px;
        margin: 0 15px;
    }
}