@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
ul {
    margin: 0;
    padding: 0
}
ul li {
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none
}
p {
    font-family: 'Arimo', sans-serif;
    line-height: 24px;
    font-size: 18px;
}
.notFound {
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration-line: underline;
}
.footer {
    border-top: 1px solid #282828;
    background-color: #151515;
    text-align: center;
    color: #ebebeb;
    padding: 50px 0;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer p {
    font-size: 18px;
    margin-bottom: 0
}
.notFound {
    display: flex;
    align-items: center;
    height: 80vh;
}
.notFound img {
    width: 300px;
}
.contact {
    background: #1d293a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}
.contact h1{
    font-size: 28px;
    margin-bottom: 20px;
    color: #ebebeb;
}
.socialIcon {
    display: flex;
}
.topIcon {
    font-size: 40px;
    margin: 0 25px;
    color: #fff;
    cursor: pointer;
    transition: .3s
}
.topIcon:hover {
    color: #0ecef5;
    transition: .3s
}
.errorMsg::placeholder {
    color: #ec1d1d!important;
}
.notPosts {
    margin: auto;
}
.networkIssue {
    padding: 50px 0;
}
.networkIssue p {
    font-size: 22px;
    color: red;
    background: aliceblue;
    padding: 20px;
}
.loading_spinner {
    margin: 50px 0;
}
.loading_spinner button {
    margin-right: 3px;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #f8f9fa;
    background-color: #dc3545;
    border-color: #dc3545;
}
@media screen and (max-width: 460px) {
    .contact h1 {
        font-size: 24px;        
    }
    .topIcon {
        font-size: 40px;
        margin: 0 15px;
    }
}
@media screen and (max-width: 460px) {
    .contact h1 {
        font-size: 24px;        
    }
    .topIcon {
        font-size: 40px;
        margin: 0 15px;
    }
}