.singlePost {
  flex: 9;
}

.singlePostWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: contain;
  background: linear-gradient(108deg, #2980b9, transparent);
  box-shadow: 0 0px 2px 2px #2980b9;
  border: 6px solid #2980b9;
}
.singlePostTitle {
  text-align: center;
  margin: 20px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}
.singlePostIcon {
  font-size: 22px;
  transition: .3s
}
.singlePostIcon:hover{
  transform: scale(1.1);
  transition: .3s
}
i.singlePostIcon.fas.fa-trash-alt:hover {
  transform: scale(1.5);
  transition: .3s
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}
.singlePostTitleInput {
  color: #444;
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
  border: none;
  border-bottom: 1px solid lightgray;
}
.singlePostDescInput {
  border: none;
  color: #444;
  font-size: 16px;
  font-family: "Lora", sans-serif;
}
.singlePostDescInput:focus {
  outline: none;
}
.singlePostTitleInput:focus {
  outline: none;
}
.singlePostAuthor {
  margin-left: 5px;
  font-size: 19px;
}
.singlePostDesc {
  color: #666;
  font-size: 17px;
  line-height: 30px;
  font-family: 'Varela Round';
  margin: 0 10px
}
.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
.singlePostBtn {
  background: teal;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
  border: none
}

@media screen and (max-width: 992px) {
  .singlePost {
    flex: none;
  }
  .single {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .singlePostImg {
    object-fit: cover;
  }
}